
{% block content %}
<p><strong>Name:</strong>{{dets.name}}</p>
<p><strong>Date of Birth:</strong>{{dets.dob}}</p>
<p><strong>Gender:</strong>{{dets.gender}}</p>
<p><strong>Age:</strong>{{dets.age}}</p>
<p><strong>Position:</strong>{{dets.position}}</p>
<p><strong>Salary:</strong>{{dets.salary}}</p>
<p><strong>Date of Joining:</strong>{{dets.doj}}</p>
<p><strong>Permanent Employee:</strong>{{dets.permanent_employee}}</p>
<p><strong>Bio:</strong>{{dets.permanent_bio}}</p>
<p><strong>Profile Image:</strong><br><img src="{{ dets.profile_image.url }}"></p>
{% endblock %}